.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px){
    
    html {
        font-size: 87.5%;
    }
    
    .wrapper {
        grid-template-columns: 1fr;
    }
}

/* @media screen and (min-width: 0) {
    
    html {
        font-size: 87.5%;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        grid-template-columns: 256px 1fr;
    }
} */